body{
    background-image: url(imagesContact/background-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.contact-box{
    backdrop-filter: blur(5px);
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);
        background-color: rgba(137,196,244,.4);
        border-radius: 20px;
        width: 400px;
        height: 400px;
        text-align: center;
        justify-content: center;
        font-style: normal;
        color: aliceblue;
        font-family: 'Courier New', Courier, monospace;
}

.contact-box h1{
    font-weight: 400;
    color: lemonchiffon;
}

.namebox img{
    width: 22px;
}

.emailbox img{
    width: 25px;
}

::placeholder{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
}

#name{
    height: 25px;
    background: transparent;
    width: 200px;
    border: none;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(137,196,244,.3);
    border-radius: 30px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

#email{
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    width: 200px;
    border: none;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(137,196,244,.3);
    border-radius: 30px;
    color: aliceblue;
    font-size: 13px;
    font-weight: 500;

}

.forms{
    margin-left: -20px;
}

#message{
    margin-bottom: 15px;
    margin-left: 40px;
    background:none ;
    border: none;
    padding-left: 30px;
    color: aliceblue;
    background-color: rgba(137,196,244,.3);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 550;
}


.messagebox{
    
    margin-left: -70px;
}

.messagebox:hover{
    transform: scale(1.03);
}

.namebox:hover{
    transform: scale(1.05);
}

.emailbox:hover{
    transform: scale(1.05);
}

.messagebox img{
    width: 30px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: -30px;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
}